[submodule "private/ob-php"]
	path = private/ob-php
	url = https://github.com/stardiviner/ob-php.git
[submodule "private/aweshell"]
	path = private/aweshell
	url = https://github.com/manateelazycat/aweshell.git
